{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 class="text-center">Welcome</h1>
<p class="text-center"><small>My name is Matthew Cullen I'm a full stack software engineer.</small></p>
<p class="text-center"><small>I make things for the web, use the links above to check them out!</small></p>
<hr>
<h5 class="text-center">Technical Skills</h5>
<p class="text-center"><small>Ruby | Python | Javascript | Sql | Rails | React | Django | Redux | HTML | css | Bootstrap</small></p>
<hr>
<h5 class="text-center">Contact Information</h5>

<div class="container text-center">
  <p><small>Call or text: <a href="tel:+15858310531">585-831-0531</a></small></p>
</div>
<div class="container text-center">
  <p><small>Email: <a class="inline_block" href="mailto:m23.cullen@gmail.com">m23.cullen@gmail.com</a></small></p>
</div>
<hr>
<div class="container text-center">
  <a class="inline_block" href="{% static 'pdf/resume.pdf' %}">Resume</a>
</div>

{% endblock %}