{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</br>
<h1>Current Project(s)</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static "img/current.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">Twice fansite</h5>
                <p class="card-text">Exploring react/redux with google firestore. Trying out multiple api's and building functionality for a fansite complete with login/profiles/blogging and more.</p>
                <a class="btn btn-primary" href="https://github.com/3Mustard/twice" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}